<h4 style="text-align: center">{{match.name}}</h4>
<h6 style="text-align: center">{{match.startDate | date:'medium'}}</h6>

   
<div class="row">

  <ng-container *ngFor="let bet of match.bets">

    <div class="text-center col-12 col-sm-6 col-md-4 col-lg-2">
    <div class="text-center">
      {{bet.name}}
    </div>

    <div class="row">

      <div class="text-center col-6">
        choice
      </div>

      <div class="text-center col-6">
        coeficient
      </div>

    </div>

    <ng-container *ngFor="let choice of bet.choice">
      <div class="row">

        <div class="text-center col-6" (click)="onSend(choice.id)">
          {{choice.name}}
        </div>

        <div class="text-center col-6">
          {{choice.odd}}
        </div>
      </div>

    </ng-container>
</div>
  </ng-container>

</div>
