
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" (click)="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Tipals</a>
  <a #selectedLink0 id="0" (click)="selectLink(selectedLink0)" [routerLink]="['/home']" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Home"> Home </a>
  <a #selectedLink1 id="1" (click)="selectLink(selectedLink1)" [routerLink]="['/newTicket']" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Make new Ticket"> Make new Ticket </a>
  <a #selectedLink2 id="2" (click)="selectLink(selectedLink2)" [routerLink]="['/bestTipers']" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Best Tipers"> Best Tipers </a>
  <a #selectedLink3 id="3" (click)="selectLink(selectedLink3)" [routerLink]="['/buyTickets']" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Buy Tickets"> Buy Tickets </a>
  
  <form class="form-inline my-2 my-md-0">
    <a #selectedLink4 id="4" (click)="selectLink(selectedLink4)" [routerLink]="['/login']" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Logout"> Logout </a>
  </form>

  
 </div>
</nav>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a #selectedLink0 id="0" (click)="selectLink(selectedLink0)" [routerLink]="['/home']" class="w3-bar-item w3-button w3-padding-large"> Home </a>
  <a #selectedLink1 id="1" (click)="selectLink(selectedLink1)" [routerLink]="['/newTicket']" class="w3-bar-item w3-button w3-padding-large"> Make new Ticket </a>
  <a #selectedLink2 id="2" (click)="selectLink(selectedLink2)" [routerLink]="['/bestTipers']" class="w3-bar-item w3-button w3-padding-large"> Best Tipers </a>
  <a #selectedLink3 id="3" (click)="selectLink(selectedLink3)" [routerLink]="['/buyTickets']" class="w3-bar-item w3-button w3-padding-large"> Buy Ticket </a>
  <a #selectedLink4 id="4" (click)="selectLink(selectedLink4)" [routerLink]="['/login']" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="Logout"> Logout </a>
</div>



<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a #selectedLink1 id="0" (click)="selectLink(selectedLink1)" [routerLink]="['/home']"> Home </a></li>
        <li><a #selectedLink2 id="1" (click)="selectLink(selectedLink2)" [routerLink]="['/newTicket']"> Make new Ticket </a></li>
        <li><a #selectedLink3 id="2" (click)="selectLink(selectedLink3)" [routerLink]="['/bestTipers']"> Best Tipers </a></li>    
        <li><a #selectedLink4 id="3" (click)="selectLink(selectedLink4)" [routerLink]="['/buyTickets']"> Buy Tickets </a></li>  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/login']">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>-->
