<!-- Navbar -->
  <div class="w3-bar w3-theme-d2 w3-left-align w3-large" style="border: 1px solid #3a4b53">

    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" (click)="openNav()">
      <i class="fa fa-bars"></i>
    </a>

    <a #selectedLink0 id="/home" (click)="selectLink(selectedLink0)" [routerLink]="['/home']" class="w3-bar-item w3-button w3-padding-large w3-theme-d4 w3-hover-white">
      <i class="fa fa-home w3-margin-right"></i>Tipals</a>
<!--     <a #selectedLink0 id="/home" (click)="selectLink(selectedLink0)" [routerLink]="['/home']" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
      title="Home"> Home </a> -->
    <a #selectedLink1 id="/matchDetails" (click)="selectLink(selectedLink1)" [routerLink]="['/matchDetails']" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
      title="Make new Ticket"> Make new Ticket </a>
    <a #selectedLink2 id="/bestTipers" (click)="selectLink(selectedLink2)" [routerLink]="['/bestTipers']" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
      title="Best Tipers"> Best Tipers </a>
    <a #selectedLink3 id="/buyTickets" (click)="selectLink(selectedLink3)" [routerLink]="['/buyTickets']" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"
      title="Buy Tickets"> Buy Tickets </a>
 

    <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white float-right" [routerLink]="['/login']" title="Logout"> Logout </a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white float-right" title="email">{{currentUser.email}}</a>

    <div class="w3-dropdown-hover w3-hide-small float-right">
      <button class="w3-button w3-padding-large" title="Account Settings"><i class="fa fa-user"></i></button>     
      <div class="w3-dropdown-content w3-card-4 w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-theme-l1 w3-hover-white">{{currentUser.email}}</a>
        <a href="#" class="w3-bar-item w3-button w3-theme-l1 w3-hover-white">Account Settings</a>
        <a [routerLink]="['/login']" class="w3-bar-item w3-button w3-theme-l1 w3-hover-white">Logout</a>
      </div>
    </div>

    </div>
<!-- </div> -->

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  
  <a #selectedLink6 id="/matchDetailsSmall" (click)="selectLink(selectedLink6)" [routerLink]="['/matchDetails']" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
    Make new Ticket </a>
  <a #selectedLink7 id="/bestTipersSmall" (click)="selectLink(selectedLink7)" [routerLink]="['/bestTipers']" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
    Best Tipers </a>
  <a #selectedLink8 id="/buyTicketsSmall" (click)="selectLink(selectedLink8)" [routerLink]="['/buyTickets']" class="w3-bar-item w3-button w3-padding-large w3-hover-white">
    Buy Ticket </a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white">{{currentUser.email}}</a>
  <a [routerLink]="['/login']" class="w3-bar-item w3-button w3-padding-large w3-hover-white" title="Logout"> Logout </a>

</div>

<br>