<div class="col-lg-10 col-lg-offset-1">

    <app-header></app-header>

    <!-- Page Container -->
    <div class="container w3-content" style="max-width:1400px;margin-top:1px">
        
        <!-- The Grid -->
        <div class="row">

            <!-- Left Column -->
            <div class="col-lg-3">
                <ng-container *ngFor="let League of Leagues.Leagues; let i=index">
                    <button (click)="leagueClick(League.Name)" class="w3-button w3-block w3-theme-l1 w3-left-align"> {{League.Name}}
                        <i class="fa fa-plus pull-right"></i>
                    </button>
                    <div id={{League.Name}} class="w3-hide w3-container w3-animate-opacity">
                        <ng-container *ngFor="let Game of League.Games">
                            <button class="{{League.Name}}dynamicButton w3-button w3-block w3-theme-l1 w3-left-align" style="cursor: pointer; font-size:small; margin: 5px" (click)="gameClick(Game)">
                                <div  style="float: left" class="dynamicDiv">{{Game.Home}} - {{Game.Away}}</div>
                            </button>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <!-- End Left Column -->

            <!-- Middle Column -->
            <div class="col-lg-6 col-md-12 container">
                <router-outlet></router-outlet>
            </div>
            <!-- End Middle Column -->

            <!-- Right Column -->
            <div class="col-lg-3 container w3-center">
                <app-new-ticket></app-new-ticket>
            </div>
            <!-- End Right Column -->

        </div>
        <!-- End Grid -->

    </div>
    <!-- End Page Container -->

</div>