<div *ngIf="ticketGames.length > 0">

    <div class="w3-container" style="border: 2px solid #7d97a5">

        <h3 style="background-color: #57707d; color: white"> ВАШИОТ ТИКЕТ </h3>

        <ng-container *ngFor="let game of ticketGames; let i=index">

            <div id="{{game.gameHome}}-{{game.gameAway}}" style="font-size:small; display: none" class="w3-container">
                <p class="dynamicP">{{game.gameHome}} - {{game.gameAway}}</p>
                <p class="dynamicP">{{game.tipName}} {{game.tipChoice}}</p>
                <p class="dynamicP">Коефициент: {{game.tipOdd}}</p>
                <p style="cursor: pointer" (click)="delete(i)">
                    <i class="fa fa-times fa-2x" aria-hidden="true" style="color: red"></i>
                </p>
                <br>
            </div>

        </ng-container>

        <div class="w3-container" style="border-top: 2px solid #7d97a5">

            <br>

            <div id="total">Вкупен Коефициент: {{totalCoeficient.toFixed(2)}}</div>

            <div class="input-group" style="width: 160px; margin:0 auto">

                <div class="input-group-addon">Ден.</div>
                <input class="form-control" type="number" onkeypress="return event.charCode >= 48" min="1" name="money" style="background-color: #e8edff"
                    [(ngModel)]="money">

            </div>

            <p>Добивка: {{money ? (money*totalCoeficient).toFixed(2) : 1}}Ден.</p>

            <h5 style="cursor: pointer" (click)="saveTicket(money)">Зачувај Тикет
                <i class="fa fa-check fa-lg" aria-hidden="true" style="color: green"></i>
            </h5>
            <h5 style="cursor: pointer" (click)="deleteAll()">Избриши се
                <i class="fa fa-times fa-lg" aria-hidden="true" style="color: red"></i>
            </h5>
        </div>
    </div>


    <div id="id01" class="w3-modal w3-animate-opacity">
        <div class="w3-modal-content">

            <header class="w3-container w3-teal w3-theme-l1">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <h6> Не можете на ист тикет да внесувате ист натпревар повеќе пати </h6>
                <h6> Сакате ли да го замените типот за натпреварот? </h6>
            </header>

            <div class="w3-container">
                <button (click)="clickDa()" style="margin:20px" class="w3-button w3-hide-medium w3-padding-large w3-hover-l1 w3-theme-d2">
                    Да, сакам да го заменам типот 
                </button>
                <button (click)="clickNe()" class="w3-button w3-hide-medium w3-padding-large w3-hover-l1 w3-theme-d2"> Не, нека остане стариот тип </button>
            </div>

            <footer class="w3-container w3-teal">
                <p> </p>
            </footer>

        </div>
    </div>

</div>